
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.admin-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    flex: 0 0 300px; 
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

    .sidebar h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar .nav-link {
        color: #aaa;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

        .sidebar .nav-link:hover,
        .sidebar .nav-link.active {
            color: #fff;
            background-color: #007bff;
        }

.main-content {
    flex: 1; 
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-sizing: border-box;
}
